* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

body {
  font-family: sans-serif;
  background: linear-gradient(to bottom right, #4BC0C9, #C779D0, #FEAC5E);
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px #000;
}

.theme-toggler {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.theme-toggler.active {
  color: #333;
}

.theme-toggler.active::before {
  background-color: #fff;
}

.theme-toggler::before {
  content: "";
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #333;
  z-index: -1;
}

#display {
  margin: 0 10px;
  height: 150px;
  width: auto;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  margin-bottom: 20px;
  overflow-x: scroll;
}

#display::-webkit-scrollbar {
  display: block;
  height: 3px;
}

button {
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 30px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease;
}

button:hover {
 transform: scale(1.1);
}

button#equal {
  height: 130px;
}

button.btn-number.zero {
  width: 130px;
}


/*light Theme*/

.calculator {
  background-color: #fff;
}

.calculator #display {
  color: #0a1e23;
}

.calculator button#clear {
  background-color: #F72798;
  color: #000;
}

.buttons .btn-number {
  background-color: #4BC0C9;
  color: #0a1e23;
}

.buttons .operator-btn {
  background-color: #E6A4B4;
}


/*Dark Theme*/


.calculator.dark {
  background-color: #0a1e23;
}

.calculator.dark #display {
 color: #fafafd;
}

.calculator.dark button#clear {
  background-color: #4477CE;
  color: #35155D;
}

.calculator.dark button.btn-number {
  background-color: #BE3144;
  color: #22092C;
}

.calculator.dark button.operator-btn {
  background-color: #35155D;
  color: #F72798;
}
